* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FCD403;
}

header { 
    padding: 18px 0;
    background-color: black;
    color: #ecf0f1;
        
}

header h1 {
    background-color: black;
}

header nav li {       /*estilizando o menu logo abaixo do logo*/
    display: inline;  /* deixar um ao lado do outro*/
    margin-left: 18px; /*margem entre eles*/
    font-size: 20px;
    background-color: black;
}

header ul {
    background-color: black;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
    background-color: black;
}

.social-links li a {
    color: #FCD403;
}


section {
padding: 24px 0;
}

section p {
    margin-bottom: 8px;
}


section h2 {
    margin-bottom: 16px 0;
}

section .container {
    align-items: flex-start;
}

.container {    /*serve para centralizar o conteudo e fazer distribuição do titulo a esquerda e menu a direita*/
    max-width: 1280px;
    width: 100%;   /*100% da largura até 1280px*/ 
    margin: 0 auto;   /*serve para centralizar*/ 
}


section .container,
header .cabecalho {
    display: flex; /*intens ficam lado a lado*/
    align-items: center; /*centralizar na vertical*/
    justify-content: space-between; /*seprando o menu e o titulo*/
}

header .cabecalho {
    background-color: black;
}

.container img { 
    height: 720px;
}

.sponsor-list img {
    height: 80px;
}

.sponsor-list li {
    display: inline;
    margin-right: 8px;
}


.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

#socio .container {
    display: block;
}

.socio-torcedor {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 280px;
    margin-bottom: 8px;
    padding: 6px;
}

.store-front {
    margin-right: 32px;
}

form button {
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer; /*comando para quando colocar em cima de algum botão a setinha vira maozinha*/
}

form button:hover {
    background-color: #37383a; /*comando que quando colocamos o mouse sobre o botão ele muda de cor*/
}

input:focus, textarea:focus {
    outline-color: black; /*muda a cor da área selecionada*/
}

footer
footer p {
    background-color: black;
    color: #ecf0f1;
    padding: 16px 0;
}
